{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    
    <link rel="icon"
      type="image/svg+xml"
      href="{% static 'favicon/favicon.svg' %}" />

    <link rel="icon"
          type="image/png"
          href="{% static 'favicon/favicon.png' %}"
          sizes="32x32" />

    <title>VideoCrafter.io | Refund Policy</title>

    
   
      <link rel="stylesheet" href="{% static 'landing/style-tmp.css' %}" />
        


    <style>
      .container-two {
        width: 80%;
        margin: 70px auto;
        padding: 20px;
        
      }
  
      h1, h2 {
        color: #333;
      }
  
      p {
        margin: 15px 0;
      }
  
      .ul-lst {
        list-style-type: square;
        padding-left: 20px;
      }
  
      .ul-lst li {
        margin: 10px 0;
      }
  
      .link-st {
        color: #0066cc;
        text-decoration: none;
      }
  
      .link-st:hover {
        text-decoration: underline;
      }
    </style>
   
  </head>
  <body>
        <div class="background">
          <img src="{% static 'assets/background/Lines.svg' %}"
              alt="lines"
              class="lines" />
          <img src="{% static 'assets/background/Ellipse 2.svg' %}"
              alt=""
              class="ellipse2" />
        </div>

        {% include "vlc/frontend/includes/navbar-alt.html" %}


        <div class="container-two">
          <h1>Refund Policy for VideoCrafter.io</h1>
      
          <h2>1. Overview</h2>
          <p>At VideoCrafter.io, we strive to provide high-quality tools for creating effective Video Sales Letters (VSLs) and value customer satisfaction. Our Refund Policy is designed to offer fair consideration to customers who may find the platform does not meet their expectations, while also protecting against misuse of our services.</p>
      
          <h2>2. Eligibility for Refunds</h2>
          <p>To qualify for a refund, customers must meet the following criteria:</p>
          <ul class="ul-lst">
            <li><strong>Initial Satisfaction Guarantee:</strong> Refund requests are considered within the first <b>3 days</b> of subscription. After this period, all sales are considered final.</li>
            <li><strong>Usage Limitations:</strong> Refunds are only available to customers who have not used more than 1 credit on their account. Customers who have used <b>2 or more credits</b> are ineligible for a refund, as this level of usage indicates a significant experience with the platform.</li>
          </ul>
      
          <h2>3. Refund Process</h2>
          <p>To initiate a refund, customers must follow these steps:</p>
          <ul  class="ul-lst">
            <li><strong>Submission of Request:</strong> Customers seeking a refund must submit their request by contacting our support team at <a class="link-st" href="mailto:support@VideoCrafter.io">support@VideoCrafter.io</a>. Please include your account email, a brief explanation of your refund request, and confirmation that you meet the eligibility criteria.</li>
            <li><strong>Review and Processing:</strong> Refund requests are reviewed and processed within 7 business days. Approved refunds are issued to the original payment method and may take additional time to appear, depending on the customer’s financial institution.</li>
          </ul>
      
          <h2>4. Limitations</h2>
          <p><strong>Non-Refundable Situations:</strong></p>
          <ul  class="ul-lst">
            <li>Accounts that have used <b>2 or more credits</b>.</li>
            <li>Situations where customers have misused the platform or breached the Terms of Service.</li>
            <li>Refund requests made after the initial <b>3-day</b> satisfaction guarantee period.</li>
          </ul>
          <p><strong>Improper Use of Platform:</strong> Refunds will not be granted if the platform has been misused, including attempts to exploit credits, manipulate subscription terms, or otherwise abuse the platform's functionalities.</p>
      
          <h2>5. Changes to the Refund Policy</h2>
          <p>VideoCrafter.io reserves the right to modify this Refund Policy. Customers will be informed of any significant changes, and continued use of the platform constitutes acceptance of any revisions to the policy.</p>
      
          <h2>Contact Us</h2>
          <p>For further assistance or questions regarding our Refund Policy, please contact us at <a class="link-st" href="mailto:support@VideoCrafter.io">support@VideoCrafter.io</a>.</p>
        </div>

    


        {% include "vlc/frontend/includes/footer.html" %}

        <script>
          const hamburgerIcon = "{% static 'assets/icons/Hamburger.svg' %}";
          const xIcon = "{% static 'assets/icons/x.svg' %}";

          function toggleMenu() {
            const topbar = document.getElementById("topbar");
            const hamburger = document.getElementById("hamburger");

            const open = topbar.style.top === "0px";

            if (open) {
              topbar.style.top = "-497px";
              hamburger.src = "{% static 'assets/icons/Hamburger.svg' %}";
            } else {
              topbar.style.top = "0";
              hamburger.src = "{% static 'assets/icons/x.svg' %}";
            }
          }

          hamburger.addEventListener("click", () => {
            toggleMenu();
          });

        
        </script>

        <script src="{% static 'landing/script.js' %}"></script>
      </body>
    </html>
